<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API task</title>
    <h2>Hello, here you can check useful links:</h2>
    <form>
        <div>
            <input type="submit" formaction="{{ url_for('fetch') }}" value="Call to API" style="font-size:64pt; width:300px"/>
        </div>
    <div>
        <label>Get story by id:
        <input name="str_by_id" type="text" size="10"></label>
        <input formaction="{{ url_for('dispatch') }}" type="submit">
    </div>
    <div>
        <label>Get all stories of a user:
        <input name="str_by_usr" type="text" size="10"></label>
        <input formaction="{{ url_for('dispatch') }}" type="submit" value="get stories">
    </div>
    </form>

    <div>
        <label>Get stories that contain a word:
        <input name="str_by_wrd" type="text" size="40"></label>
        <input formaction="{{ url_for('dispatch') }}" type="submit" value="get titles">
        </form>
    </div>
</head>
<body>

</body>
</html>